.container {
    height: 100%;
	max-height: 500px;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.network {
    height: 100%;
    min-width: 40%;
    max-width: 500px;
}
.companyProfile {
    overflow: hidden;
    width: 40%;
    max-width: 0px;
    transition: max-width 0.3s ease-in;
    height: 100%;
}

.companyProfile.active {
    max-width: 500px;
}

.companyProfile .logo {
    max-width: 200px;
    margin: 5px auto;
}
.companyProfile .link {
    height: 30px;
}
.companyProfile .children {
    margin: 10px;
    max-width: 170px;
}
.children h3 {
    margin: 0px;
}
.companyProfile .child {
    margin: 2px 5px 2px 30px;
    display: flex;
    align-items: center;
    height: 40px;
}
.companyProfile .child img {
    margin: 5px;
    height: auto;
    width: 30px;
}
